@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
  /**
*,
*::before, box-sizing: border-box;
*::after {
    
 
    
    border-left:5px solid #F98200;
  **/
 
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
  
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%; 
    color: #111111;
    scroll-behavior: smooth;
} 

ul, ol {
    list-style-type: none;
}

a {
    display: flexbox;
    text-decoration: none;
    font-size: 1.8em;
    font-family: inherit;
    color: inherit;
}

header, footer {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #30343F;
}

nav{
    margin: 0;
    padding: 0;
    display: inline-flex;
    font-size: 1em; 

}

.logo{
    justify-content: start;
    display:inline-flex;
    font-size: 1em;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.menu{
    list-style-type: none;
    display: inline-flexbox;
    padding-left: 500px;
    margin-right: 30px;
    margin-top: 30px;
    position: relative;
   
}

.menuitem{
    display: inline-flex;
    margin-right: 30px;
   
}

.with-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}

.with-submenu:hover .submenu{
     display:block;
}

.submenu{
    display:none;
    margin-top: 30px;
    width: 100px;
    position: absolute;
    background-color: #30343F;
    border-color: solid 4px #b72531;
}

.submenu_item{
    display: block;
    padding-left: 20px;
    font-size: 1em;

}



.banner{
    align-content: end;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-image:url(../img/multimedia/funkos-banner.webp);#222222 no-repeat;
    /**-webkit-filter: blur(2px);**/
    box-sizing: content-box;
    height: 300px;
}
.h3banner{
    font-size: 3em;
    color:white;
    padding-top: 60px;
    padding-left: 50px;
    margin-left:50px;

}
.pbanner{
    font-size: 1.8em;
    color:white;
    padding-top: 10px;
    padding-left: 50px;
    margin-left:50px;
}

.btn{ 
    margin-left:45px;
    margin-top:40px;
    padding: 5px 50px 5px 50px;
    border-radius: 25px;
    font-size: 1.2em;
   
}




/**COLECCION1*/


.grid-container{
    display: grid;
    grid-template-columns: 50% 50%; 
}

.grid-item{
    margin-left: 110px;
    margin-right: 60px;
    text-align:left;
}
.grid-item2{
    width:80%;
    margin-left: 200px;
    justify-content: left;
}
.grid-item3{
    width: 80%;
    justify-content: right;
    margin-right: 80px;   
}

.elementotitulo{
    font-size: 4em;
    color:rgb(20, 19, 19);
    padding-top:60px;
    padding-left: 50px;
    margin-top: 60px;
}
.elementotexto{
    font-size: 2em;
    color:rgb(20, 19, 19);
    padding-top: 5px;
    padding-left: 50px;
}
.linea{
    margin-top: 15px;
    margin-left: 50px;
}
.btncoleccion{ 
    margin-left: 50px;
    margin-top:20px;
    padding: 10px 50px 10px 80px;
    padding-left: 30px;
    background-color: rgb(61, 55, 55);
    color: white;
    border-radius: 50px;
    font-size: 1.5em;
}



.imagen{
    display:flexbox;
    width: 100px;
    height: 100px;
}



.lanzamientos{
    font-size: 3em;
    margin-left: 50px;
    padding-bottom: 20px;
}




/**Slider**/
.slider{
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;  
    height: 400px;
   
}
.btnsliderizquierda{ 
    display:inline-block;
    margin-left: 18px;
    margin-top: 150px;
    text-align: center;
    padding:5px;
    background-color: rgb(245, 243, 243);
    border-color: rgb(79, 77, 77);
    color: rgb(22, 22, 22);
    width: 10px;
    height: 10px;
    align-content: center;
    justify-content: center;
    font-size:0.8em;
    
}
.btnsliderderecha{ 
    display:inline-block;
    margin-left: 18px;
    margin-top: 150px;
    text-align: center;
    padding:5px;
    background-color: rgb(245, 243, 243);
    border-color: rgb(79, 77, 77);
    color: rgb(22, 22, 22);
    width: 10px;
    height: 10px;
    align-content: center;
    justify-content: center;
    font-size:0.8em;
    
}


.elementotituloslider{
    font-size: 1.8em;
    color:rgb(20, 19, 19);
    margin-left: 50px;
  
}
   

.elementotextoslider1{
    font-size: 1.5em;
    color:rgb(20, 19, 19);
    margin-left: 50px;

}
   

.elementotextoslider2{
    font-size: 1.5em;
    color:rgb(34, 113, 165);
    margin-left: 50px;
   
}
.elementotextoslider3{
    Margin-left:320px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    justify-content: center;
    font-size: 1.3em;
    background-color: crimson;
    color: white;
    width: 60px;
   
   
}


.grid-itemslider{
    width: 60%;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    margin-left: 10px;
    grid-column-start: 1;
    grid-row-start: 4;
}


.pie{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 40px;
        margin-top: 30px;
        padding-top: 15px;
      
        
      
}
.navfooter{
       margin-left: 50px;
}


.textofooter{
    margin-left: 550px;
    font-size: 1em;
 
}

.logofooter{
    width: 10%;
    margin-left: 730px;
    text-align:right;
}



/**Slider**/


.shop{
    display: grid;
    grid-template-columns: 30% 70%;  
    height: 1000px;
    margin-top: 60px;

}
.slidershop{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 1000px;   

}

/**relacionados**/

.relacionados{
    font-size: 3em;
    margin-left:50px;
    padding-bottom: 20px;
}

.relacionados1{
    display: grid;
    grid-template-columns: 2fr 3fr; 
    grid-template-rows: 1fr;
    margin-top: 30px;
  
   
}

.relacionados2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-left: 90px;
}

.grid-itemslider6{
    width: 60%;
    justify-content: center;
    margin-left: 200px;

}
.grid-item6{
    margin-top:60px;
    width:50%;
    margin-left: 30px;
    justify-content: left;
}

.elementotitulo6{ 
    font-size: 3em;
    color:rgb(20, 19, 19);
    padding-left: 50px;
}
.elementotexto6{
    font-size: 1.8em;
    color:rgb(20, 19, 19);
    padding-top: 5px;
    padding-left: 50px;
}


.elementotextoslider16{
    font-size: 3.2em;
    color:rgb(20, 19, 19);
    margin-left: 50px;

}
   

.elementotextoslider26{
    font-size: 1.3em;
    color:rgb(34, 113, 165);
    margin-left: 50px;
   
}
.btncarrito{ 
    display:inline-block;
    margin-left: 18px;
    text-align: center;
    padding:5px;
    background-color: rgb(217, 50, 50);
    border-color: rgb(217, 50, 50); ;
    color: white;
    width: 130px;
    font-size: 0.7em;
    
}

#cantidad{
    display:inline-block;
    padding:0px;
    font-size: 1.8em;
    color: rgba(0, 0, 0, 0.893);
    text-align: center;
    width: 25px;
    border-color: #171717;
    justify-content: center;
    text-align: center;
    
}
.cantidadmenos{
    display:inline-block;
    margin-left: 50px;;
    padding:0px;
    font-size: 2em;
    color: rgba(245, 237, 237, 0.893);
    border-color: #171717;
    text-align: center;
    justify-content: center;
    width: 25px;
    background-color: #474646;
    border-color: #171717;
}
.cantidad{
    display:inline-block;
    padding:0px;
    font-size: 2em;
    color: rgba(245, 237, 237, 0.893);
    border-color: #171717;
    text-align: center;
    justify-content: center;
    width: 25px;
    background-color: #474646;
    border-color: #171717;
}

/**contacto**/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.3em;
    font-family: inherit;
    color: inherit;
   
  }
  
  input[type=enviar] {
    background-color: #121312;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6em;
   
  }
  
  input[type=enviar]:hover {
    background-color: #45a049;
  }
  
  .containercontacto {
        display:flexbox;
        margin-left: 380px;
        margin-top: 20px;
        width: 600px;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
  }


 .lateralizquierdo{
    margin-left:50px;
    font-size: 1.3em;
    padding-bottom: 20px;
    
   
   
}


.buscar{ 
    display: block;
    font-size: 1em;
    margin-top: 30px;
    margin-left: 50px;
    color: rgba(0, 0, 0, 0.893);
    width: 50px;   
}   

#buscar{
    display: block;
    font-size: 0.5em;
    margin-left: 50px;
    color: rgba(0, 0, 0, 0.893);
    width: 200px;
    border-color: #000000;
}


.ordenar{
    display: block;
    font-size: 1em;
    margin-top: 30px;
    margin-left: 50px;
    color: rgba(0, 0, 0, 0.893);
    width: 150px;
   
}   
#ordenar{
    display: block;
    font-size: 0.5em;
    margin-left: 50px;
    color: rgba(0, 0, 0, 0.893);
    width: 200px;
    border-color: #000000;

}

.precio{
    font-size: 1em;
    margin-top: 30px;
    margin-left: 50px;
    color: rgba(0, 0, 0, 0.893);
    width: 150px;
}   

.minimo{
    display: inline-block;
    padding: inherit;
    font-size: 0.8em;
    margin-top: 30px;
    margin-left: 50px; 
    color: rgba(0, 0, 0, 0.893);
    width: 30px;
}

#minimo{
    display: inline-block;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.893);
    width: 50px;
    border-color: #000000;
}


.maximo{
    display: inline-block;
    padding: inherit;
    font-size: 0.8em;
    margin-top: 30px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.893);
    width: 50px;
}

#maximo{
    display: inline-block;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.893);
    width: 50px;
    border-color: #000000;
}

.filtrar{
    font-size: 1em;
    margin-top: 30px;
    margin-left: 50px;
    color: rgba(0, 0, 0, 0.893);
    width: 150px;
}   

#seleccion{
    padding:0px;
    display: inline-box;
    margin-left: 80px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.893);
    width: 15px;
    border-color: #000000;
}
.seleccion{
    padding:0px;
    display: inline-box;
    font-size: 0.8em;
    margin-top: 30px;
    margin-left: 5px;
    box-sizing: content-box;
    color: rgba(0, 0, 0, 0.893);
    width: 500px;
}
.elementotextoslider5{
    Margin-left:180px;
    padding: 0px;
    text-align: center;
    justify-content: right;
    font-size: 1.3em;
    background-color: crimson;
    color: white;
    width: 55px;
}

.menuitemsalir{
    display: inline-flex;
    margin-left: 350px;
   
}

.agregar{
    display: inline-block;
    margin-left: 800px;
   
    
}

.login{
    font-size: 4em;
    margin-left: 400px;

}
.tableproduct{
    font-size: 1em;
    margin-left: 50px;
    width: 90%;
}